/*******************************/
/********** PAGE TITLE *********/
/*******************************/
.page-title {
    background-color: #7796CB;
    /* Background color */
    /* Padding inside the section */
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-size: 30px;
    color: #FFFFFF;
    font-size: 35px;
}

.inside-page {
    margin: 1.5% 5% 1.5% 5%;
}

/*******************************/
/*********** MAIN DIV **********/
/*******************************/

.main-div {
    display: grid;
    gap: 2rem;
    grid-template-columns: 0.75fr 2fr;
}


/*******************************/
/********** L Side Bar *********/
/*******************************/
.side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D1D2F9;
    margin-right: 5%;
    padding: 5% 0% 2% 0%;
}

.side-bar button {
    margin: 2% 0% 2% 0%;
    background-color: #576490;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    font-size: 80%;
    width: 70%;
    max-height: 70px;
    min-height: 70px;
}

.side-bar button:hover {
    background-color: #7796CB;
}

.side-bar .highlight {
    background-color: #7796CB;
}



/*******************************/
/********* Account Info ********/
/*******************************/

.edit-profile-container {
    margin: 1% 5% 1% 1%;
    flex: 4;
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    font-size: 20px;
}

.input-text {
    display: block;
    background-color: #C9CAD9;
    border: none;
    border-radius: 8px;
    width: 50%;
    height: 50px;
    padding-left: 10px;
    font-size: 90%;
}

.input-container {
    padding: 20px 20px 20px 0px;
}


.password-field {
    /*Inside div 1*/
    flex: 1;
}

.password-field label {
    display: block;
}

.bottom-container {
    /*Inside div 2*/
    flex: 1;
}

.seperate {
    /*Outside div 2*/
    display: flex;
    justify-content: space-between;

}

.seperate a {
    padding-left: 20px;
}

#title {
    color: black;
    font-size: 150%;
}

#big-text {
    color: black;
    font-size: 120%;
}

.button-container {
    margin-right: 10%;
}

.button-container button {
    background-color: #576490;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 15px;
    width: 150px;
    height: 50px;
    font-weight: bold;
}

.space-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.general-input-text {
    width: 41%;
    height: 50px;
    background-color: #C9CAD9;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 90%;

}

.input-text {
    width: 80%;
    height: 50px;
    background-color: #C9CAD9;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 90%;
}

#save-button {
    margin-right: 20%;
    justify-self: flex-end;
}

#save-button button:hover {
    background-color: #7796CB;
}

.first-input-text {
    width: 83%;
    height: 50px;
    background-color: #C9CAD9;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 90%;
}

/*******************************/
/******** NOTIFICATIONS ********/
/*******************************/

.notification-head {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 0% 0% 0.2% 0%;
    background-color: #D9D9D9;
}

.notification-types {
    display: flex;
    flex-direction: column;
}

.notification-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 0.2% 0% 0.2% 0%;
    padding: 20px;
    background-color: #D1D2F9;
}

label {
    margin: 0% 0.5% 0% 0.5%
}

.checkboxes {
    width: 35px;
    height: 35px;
}